<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="local" value="123" />    
    <add key="baseAddress" value="http://localhost:90/" />    
    <add key="timeInterval" value="30" />    
    <add key="createAddress" value="apiRegistro/registro/create.php" />    
    <add key="updateAddress" value="apiRegistro/registro/update.php" />    
  </appSettings>
</configuration>